@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;600;700;800&family=Pacifico&family=Playfair+Display:ital,wght@1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-lazie-primary: #48f253;
  --color-lazie-light: #e6ffe8;
  --color-lazie-dark: #2d9a34;
  --color-pebble: #F3F3F1;
  --color-surface: #ffffff;
  --color-background: #ffffff;
  
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-logo: "Pacifico", cursive;
  --font-serif: "Playfair Display", serif;
}

@layer base {

  body {
    @apply bg-background text-gray-900 antialiased font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
